# Database
CONNECTION_STRING=Host=<DB_HOST>;Database=<DB_NAME>;Username=<DB_USER>;Password=<DB_PASSWORD>

# OpenAI
OPENAI_API_KEY=<OPENAI_API_KEY>

# Auth
AVACHAT_USERNAME=<AVACHAT_USERNAME>
AVACHAT_PASSWORD=<AVACHAT_PASSWORD>
AVACHAT_JWT_SECRET=<AVACHAT_JWT_SECRET>
